%btn-default{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

.btn-citrus{
    @extend %btn-default;
    background-color: $color-citrus;
    border: 1px solid transparent;
    border-radius: 2px;
    font-weight: 700;
    font-size: 0.8rem;
    color: #ffffff;
    padding: 12px 45px 12px 45px;
    &:hover{
        background-color: $color-citrus-fade;
    }
}

.btn-outline-citrus{
    @extend %btn-default;
    background-color: #fff;
    border: 1px solid $color-citrus;
    border-radius: 2px;
    font-weight: 700;
    font-size: 0.8rem;
    color: $color-citrus;
    padding: 12px 45px 12px 45px;
    &:hover{
        background-color: $color-citrus-fade;
        color: #fff;
    }
}


.btn-clean{
    @extend %btn-default;
    background-color: transparent;
    border: 1px solid #BCBCBC;
    border-radius: 2px;
    font-weight: 700;
    font-size: 0.8rem;
    color: #000;
    padding: 12px 45px 12px 45px;
    &:hover{
        background-color: #000;
        color: #ffffff;
    }   
}

.btn-slide{
    color: #000;
    padding: 8px 15px 8px 15px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 100px;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.7;
    &:hover{
        opacity: 1;
    }
}

.btn-black{
    @extend %btn-default;
    background-color: $color-blackWing;
    border: 1px solid $color-blackWing;
    border-radius: 2px;
    font-weight: 700;
    font-size: 0.8rem;
    color: #fff;
    padding: 12px 45px 12px 45px;
    &:hover{
        background-color: #fff;
        border: 1px solid $color-blackWing;
        color: $color-blackWing;
    }   
}

.btn-pen{
    @extend %btn-default;
    background-color: #fff;
    border: 1px solid #33A0FF;
    border-radius: 4px;
    font-weight: 700;
    font-size: 0.8rem;
    color: #33A0FF;
    padding: 15px 18px 15px 18px;
    &:hover{
        background-color: #33A0FF;
        border: 1px solid #33A0FF;
        color: #fff;
    }   
}

.btn-circle-danger{
    @extend %btn-default;
    background-color: #fff;
    border: 1px solid $color-red;
    border-radius: 100%;
    font-weight: 700;
    font-size: 0.8rem;
    color: $color-red;
    padding: 7px 12px 7px 12px;
    &:hover{
        background-color: $color-red;
        color: #ffffff;
    }
}