#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 1000;

      /* don't forget to add all the previously mentioned styles here too */
      background: #7386D5;
      color: #fff;
      transition: all 0.3s;    
      margin-left: -250px;  
}
.burger-nav{
    display: none;
}
.menu-side{
    display: block;
}

@media (max-width: 991px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .burger-nav{
        display: block;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        .navbar-toggler{
            span, .icon-bar{
                    background-color: $color-citrus !important;
                }
            
        }

        .navbar-nav{
            padding-bottom: 20px;
            .nav-item{
                margin-right: 45px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
    .menu-side{
        display: none;
    }

    .navbar-collapse{
        opacity: 1;
        transition: all 0.5s ease-in-out;
        background-color: #fff;
        display: block;
        margin-top: -600px;
        z-index: 999 !important;
    }
    
    .navbar-collapse.active{
        margin-top: -1px;
    }
}

.z-head999{
    position: relative;
    background-color: #fff;
    z-index: 1000;
    @media (max-width: 992px) {
        padding-top: 20px;
        padding-bottom: 21px;
    }

}

#sidebar.active {
    margin-left: 0;
}



.overlay {
    position: fixed;
    /* full screen */
    width: 100%;
    height: 100%;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;

    top: 0;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}



#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
