.text-wrap-normal{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-wrap-2line{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.text-devanagari{
    font-family: 'Devanagari MT';
}

.text-tag-html{
    white-space: pre-line
}