.header_area {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background 0.4s, all 0.3s linear;

    @media (max-width: 992px) {
        position: fixed;
        width: 100%;
        height: 65px;
        top: 0;
        left: 0;
        z-index: 1000;
        transition: background 0.4s, all 0.3s linear;
    }
    .main_menu {
        background: #ffffff;
        
        .navbar-toggler span{
            display: block;
            width: 25px;
            height: 3px;
            background-color: #1641ff;
            margin: auto;
            margin-bottom: 4px;
            transition: all 400ms linear;
            cursor: pointer;
        }

        .image-logo-header{
            width: 60px;
            height: auto;
            @media (max-width: 992px) {
                width: 32px;
                height: auto;
            }
        }
    }
    .navbar {
        padding: 0px;
        border: 0px;
        border-radius: 0px;
        border-top: 1px solid rgba(221, 221, 221, 0.38);
        .right_nav {
            .nav-item {
                margin: 0 !important;
            }
        }
        .icons {
            font-size: 16px;
            line-height: 80px;
            display: inline-block;
            color: $color-citrus;
            margin-left: 20px;
            text-align: center;
            @include transition;
            &:hover {
                color: $color-citrus;
            }
        }
        .nav {
            @media (max-width: 992px) {
                float: left;
            }
            .nav-item {
                margin-right: 45px;
                .nav-link {
                    cursor: pointer;
                    font: 400 13px/80px ;
                    text-transform: uppercase;
                    color: #22262A;
                    padding: 0px;
                    display: inline-block;
                    &:after {
                        display: none;
                    }
                    &.active {
                        color: $color-citrus;
                    }
                }
                &:hover,
                &.active {
                    .nav-link {
                    cursor: pointer;
                        color: $color-citrus;
                    }
                }
                &.submenu {
                    position: relative;
                    ul {
                        border: none;
                        padding: 0px;
                        border-radius: 0px;
                        box-shadow: none;
                        margin: 0px;
                        background: #fff;
                        @media (min-width: 992px) {
                            position: absolute;
                            top: 120%;
                            left: 0px;
                            min-width: 200px;
                            text-align: left;
                            opacity: 0;
                            transition: all 300ms ease-in;
                            visibility: hidden;
                            display: block;
                            border: none;
                            padding: 0px;
                            border-radius: 0px;
                        }
                        &:before {
                            content: "";
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 10px 10px 0 10px;
                            border-color: #eeeeee transparent transparent transparent;
                            position: absolute;
                            right: 24px;
                            top: 45px;
                            z-index: 3;
                            opacity: 0;
                            transition: all 400ms linear;
                        }
                        .nav-item {
                            display: block;
                            float: none;
                            margin-right: 0px;
                            border-bottom: 1px solid #ededed;
                            margin-left: 0px;
                            transition: all 0.4s linear;
                            .nav-link {
                    cursor: pointer;
                                line-height: 45px;
                                color: #22262A;
                                padding: 0px 30px;
                                transition: all 150ms linear;
                                display: block;
                                margin-right: 0px;
                            }
                            &:last-child {
                                border-bottom: none;
                            }
                            &:hover {
                                .nav-link {
                    cursor: pointer;
                                    background: $primary-color;
                                    color: #fff;
                                }
                            }
                        }
                    }
                    &:hover {
                        ul {
                            @media (min-width: 992px) {
                                visibility: visible;
                                opacity: 1;
                                top: 100%;
                            }
                            .nav-item {
                                margin-top: 0px;
                            }
                        }
                    }
                }
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
        .navbar-nav{
            justify-content: space-between;
        }
        .nav.navbar-nav.navbar-right {
            li {
                margin-left: 25px;
                margin-right: 0px;
                &:first-child {
                    margin-left: 35px;
                }
            }
            @media (max-width: 992px) {
                -ms-flex-direction: row;
                flex-direction: row;
                margin-bottom: 20px;
                .icons {
                    background: #e4e4e4;
                    margin-right: 2px;
                    line-height: 50px;
                    min-width: 50px;
                    min-height: 50px;
                }
            }
        }
        .search {
            font-size: 14px;
            line-height: 80px;
            display: inline-block;
            color: #22262A;
            i {
                font-weight: 600;
            }
        }
        .cart {
            color: #22262A;
            font-size: 14px;
            line-height: 80px;
            i {
                font-weight: 600;
            }
        }
    }
    &.navbar_fixed {
        .main_menu {
            position: fixed;
            width: 100%;
            top: -70px;
            left: 0;
            right: 0;
            transform: translateY(70px);
            transition: transform 500ms ease, background 500ms ease;
            -webkit-transition: transform 500ms ease, background 500ms ease;
            box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
            .navbar {
                .nav {
                    .nav-item {
                        .nav-link {
                    cursor: pointer;
                            line-height: 70px;
                        }
                    }
                }
            }
        }
    }

    .navbar-header {
        padding: 0px;
        border: 0px;
        border-radius: 0px;
        .right_nav {
            .nav-item {
                margin: 0 !important;
            }
        }
        .icons {
            font-size: 16px;
            line-height: 80px;
            display: inline-block;
            color: $color-citrus;
            margin-left: 20px;
            text-align: center;
            @include transition;
            &:hover {
                color: $color-citrus;
            }
        }
        .nav {
            @media (max-width: 992px) {
                float: left;
            }
            .nav-item {
                margin-right: 45px;
                .nav-link {
                    cursor: pointer;
                    font: 400 13px/80px ;
                    text-transform: uppercase;
                    color: #22262A;
                    padding: 0px;
                    display: inline-block;
                    &:after {
                        display: none;
                    }
                    &.active {
                        color: $color-citrus;
                    }
                }
                &:hover,
                &.active {
                    .nav-link {
                    cursor: pointer;
                        color: $color-citrus;
                    }
                }
                &.submenu {
                    position: relative;
                    ul {
                        border: none;
                        padding: 0px;
                        border-radius: 0px;
                        box-shadow: none;
                        margin: 0px;
                        background: #fff;
                        @media (min-width: 992px) {
                            position: absolute;
                            top: 120%;
                            left: 0px;
                            min-width: 200px;
                            text-align: left;
                            opacity: 0;
                            transition: all 300ms ease-in;
                            visibility: hidden;
                            display: block;
                            border: none;
                            padding: 0px;
                            border-radius: 0px;
                        }
                        &:before {
                            content: "";
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 10px 10px 0 10px;
                            border-color: #eeeeee transparent transparent transparent;
                            position: absolute;
                            right: 24px;
                            top: 45px;
                            z-index: 3;
                            opacity: 0;
                            transition: all 400ms linear;
                        }
                        .nav-item {
                            display: block;
                            float: none;
                            margin-right: 0px;
                            border-bottom: 1px solid #ededed;
                            margin-left: 0px;
                            transition: all 0.4s linear;
                            .nav-link {
                    cursor: pointer;
                                line-height: 45px;
                                color: #22262A;
                                padding: 0px 30px;
                                transition: all 150ms linear;
                                display: block;
                                margin-right: 0px;
                            }
                            &:last-child {
                                border-bottom: none;
                            }
                            &:hover {
                                .nav-link {
                    cursor: pointer;
                                    background: $primary-color;
                                    color: #fff;
                                }
                            }
                        }
                    }
                    &:hover {
                        ul {
                            @media (min-width: 992px) {
                                visibility: visible;
                                opacity: 1;
                                top: 100%;
                            }
                            .nav-item {
                                margin-top: 0px;
                            }
                        }
                    }
                }
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
        .navbar-nav{
            justify-content: space-between;
        }
        .nav.navbar-nav.navbar-right {
            li {
                margin-left: 25px;
                margin-right: 0px;
                &:first-child {
                    margin-left: 35px;
                }
            }
            @media (max-width: 992px) {
                -ms-flex-direction: row;
                flex-direction: row;
                margin-bottom: 20px;
                .icons {
                    background: #e4e4e4;
                    margin-right: 2px;
                    line-height: 50px;
                    min-width: 50px;
                    min-height: 50px;
                }
            }
        }
        .search {
            font-size: 14px;
            line-height: 80px;
            display: inline-block;
            color: #22262A;
            i {
                font-weight: 600;
            }
        }
        .cart {
            color: #22262A;
            font-size: 14px;
            line-height: 80px;
            i {
                font-weight: 600;
            }
        }
    }
}

.top_menu {
    background: $color-blackWing;
    height: 30px;
    line-height: 16px;
    color: #ffffff;
    .float-left {
        padding: 7px 0;
        p {
            cursor: pointer;
            display: inline-block;
            line-height: 15px;
            font-size: 11px;
            // font-family: $body-font;
            font-weight: 400;
            margin: 0px;
            text-transform: uppercase;
            border-right: 1px solid $text-color;
            padding: 0px 19px;
            &:last-child {
                border-right: 0px;
            }
            &:hover {
                color: $color-citrus;
            }
        }
    }
    .right_side {
        margin-bottom: 0px;
        padding: 7px 0;
        li {
            display: inline-block;
            &:last-child {
                a {
                    padding-right: 15px;
                    border-right: 0px;
                }
            }
            a {
                font-size: 11px;
                color: #ffffff;
                display: inline-block;
                border-right: 1px solid $text-color;
                @include transition;
                text-transform: uppercase;
                padding: 0px 19px;
            }
            &:hover {
                a {
                    color: $color-citrus;
                }
            }
        }
    }
    .ac_btn {
        line-height: 28px;
        border: 1px solid #eeeeee;
        display: inline-block;
        background: $offwhite;
        padding: 0px 19px;
        font-size: 12px;
        // font-family: $body-font;
        font-weight: 500;
        color: $text-color;
        @include transition;
        margin-right: 1px;
        margin-top: 8px;
        &:hover {
            background: $color-citrus;
            color: #fff;
            border-color: $color-citrus;
        }
    }
    .dn_btn {
        line-height: 28px;
        border: 1px solid $color-citrus;
        display: inline-block;
        background: $color-citrus;
        padding: 0px 19px;
        font-size: 12px;
        // font-family: $body-font;
        font-weight: 500;
        color: #fff;
        @include transition;
        margin-top: 8px;
        border-radius: 3px;
        &:hover {
            background: transparent;
            color: $title-color;
            border-color: $color-citrus;
        }
    }
    .lan_pack {
        height: 30px;
        border: 1px solid #eeeeee;
        border-radius: 3px;
        line-height: 28px;
        font-size: 12px;
        // font-family: $body-font;
        font-weight: 500;
        padding-left: 19px;
        padding-right: 36px;
        color: $text-color;
        background: $offwhite;
        margin-right: 5px;
        margin-top: 8px;
        .current {
            color: $text-color;
        }
        &:after {
            content: "\f0d7";
            border: none !important;
            font: normal normal normal 12px/1 FontAwesome;
            transform: rotate(0deg);
            height: auto;
            margin-top: -6px;
            right: 20px;
        }
    }

    @media (max-width: 991px) {
        display: none;
    }
}


