.modal-Add-Address{

    margin-top: 150px;
    .modal-content{
        border-radius: 10px;
        .modal-body{
            padding: 60px 75px 60px 75px;
            .title-modal{
                font-weight: bold;
                font-family: 'Kanit-Medium';
                font-size: 24px;
                letter-spacing: 0.8px;
            }
        }
    }

    .text-close{
        background-color: #f4f4f4;
        color: #161616;
        padding: 7px 15px 7px 15px;
        border-radius: 100%;
        cursor: pointer;
        &:hover {
            background-color: #161616;
            color: #f4f4f4;
        }
    }

    .btn-change{
        font-size: 18px;
        
    }
  

}