#sector-about{
    padding: 160px 0 160px 0;

    .layer-left{
        padding: 0 100px 0 0;

    
        .topic-devanagari{
            font-family: 'Devanagari MT';
        }
    }

    .image-about{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 991px) {
    #sector-about{
        padding: 100px 0 100px 0;
        .layer-left{
            padding: 0 15px 0 15px;
        }
    }
}