#sector-recommended{
    padding: 0 0 160px 0;    
        .product-recommended{
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
            
            .image-product-box{
                width: 350px;
                height: 250px;
                .image-product{
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }
            }


            .name-product{
                padding: 40px 0 10px 0;
                font-size: 16px;
                font-weight: bold;
            }

            .star-product{
                padding: 0 0 10px 0;
            }

            .price-product{
                font-size: 20px;
                font-weight: bold;
            }
        }
}

@media (max-width: 991px) {
    #sector-recommended{
        padding: 0 0 100px 0;
    }
}