#sector-travel{
    padding: 150px 0 0 0;

    .image-travel{
        width: 100%;
        height: auto;
    }

    .name-travel{
        padding: 40px 0 10px 0;
        letter-spacing: 0.6px;
        color: $color-blackSpace;
        opacity: 1;
        font-size: 18px;
        font-weight: bold;
    }

    .detail-travel{
        letter-spacing: 0.45px;
        color: $color-blackSpace;
        opacity: 0.8;
        font-size: 14px;
    }
}